/* color variables  */
$g_white: #ffffff;
$g_black: #000000;
$g_grayblack: #000000;
$g_bg: #f3f6f9;

/* font color */
$g_title: #464a53;
$g_font: #6a707e;
$g_gray: #abafb3;
$g_lightgray: #dddfe1;
$g_icon: #aaaaaa;
$g_lightercolor: #f0f0f0;

/* for dashboard UI colors */
$g_primary: #7f63f4;
$g_pastelred: #dc3545;

/* border color */
$g_lightborder: #dddfe1;
$g_grayborder: #d9d9d9;

// Responsive View variables - Breakpoints for Media Query
$smallMobile: 320px;
$mobileSmall: 375px;
$mobile: 481px;
$mobileLarge: 576px;
$ipad: 768px;
$large: 991px;
$extraLarge: 1024px;
$desktop: 1366px;
