/* display property */
.g_block	{display: block;}
.g_ib {display: inline-block;}

/* flex box */
.g_flex { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }
.g_inline-flex { display: inline-flex !important; }
.g_flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }
.g_direction-column {flex-direction: column;}
.g_align-start { -webkit-box-align: start; -ms-flex-align: start; align-items: start; }
.g_align-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.g_align-end { -webkit-box-align: flex-end; -ms-flex-align: flex-end; align-items: flex-end; }
.g_align-baseline { -webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline; }
.g_content-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.g_content-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.g_content-around { -webkit-box-pack: around; -ms-flex-pack: around; justify-content: space-around; }
.g_content-end { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.g_flex-row {-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;}
.g_flex-row-reverse {-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
.g_flex-col { -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; }
.g_flex-1{flex: 1 1 auto;}
.g_flex-1-0{flex: 1 1 0;}
.g_flex-2{flex: 2 2 auto;}
.g_flex-3{flex: 3 3 auto;}
.g_flex-4{flex: 4 4 auto;}
.g_flex-5{flex: 5 5 auto;}
.g_flex-6{flex: 6 6 auto;}
.g_flex-shrink { -ms-flex-negative: 0;flex-shrink: 0; }

/* display table */
.g_table {display: table;}
.g_table-cell {display: table-cell;}

/* display grid */
.g_grid {display: grid;}
/* */
.g_down-arrow {transform: rotate(180deg);}

// Row
.g_row{ display: flex; flex-wrap: wrap; margin-right: -10px; margin-left: -10px; }

/* align */
.g_align-top {vertical-align: top;}
.g_align-middle {vertical-align: middle;}
.g_align-bottom {vertical-align: bottom;}

/* texts */
.g_text-center { text-align: center; }
.g_text-left { text-align: left; }
.g_text-right { text-align: right; }
.g_text-u { text-transform: uppercase;}
.g_text-l { text-transform: lowercase;}
.g_text-c { text-transform: capitalize;}
.g_text-bold { font-weight: 700 !important; }
.g_ellipse { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* object fit */
.g_object-contain {-o-object-fit: contain;object-fit: contain;}
.g_object-cover {-o-object-fit: cover;object-fit: cover;}

/* overflow */
.g_overflow-auto { overflow: auto; }
.g_overflow-unset { overflow: unset; }
.g_overflow-hidden { overflow: hidden; }
.g_overflow-x-hidden { overflow-x: hidden; }
.g_overflow-y-hidden { overflow-y: hidden; }
.g_overflow-x-auto { overflow-x: auto; }
.g_overflow-y-auto { overflow-y: auto; }

/* word break */
.g_break-all {word-break: break-all}
.g_word-break { word-break: break-word; }

/* white-space */
.g_ws-initial { white-space: initial; }
.g_ws-nowrap { white-space: nowrap; }

/* position */
.g_relative {position: relative;}
.g_fixed {position: fixed;}
.g_absolute {position: absolute;}
.g_pos-0 {top: 0; right: 0; bottom: 0; left: 0;}
.g_top-0 {top: 0;}
.g_right-0 {right: 0;}
.g_bottom-0 {bottom: 0;}
.g_z-1{z-index: 1}

/* width */
.g_w-25 {width: 25%;}
.g_w-33 {width: 33.33%;}
.g_w-50 {width: 50%;}
.g_w-66 {width: 66.66%;}
.g_w-75 {width: 75%;}
.g_w-full {width: 100%;}
.g_h-full {height: 100%;}
.g_w-200 { width: 200px;}

/* border */
.g_bt-light {border-top: 1px solid $g_lightborder;}
.g_bb-light {border-bottom: 1px solid $g_lightborder;}
.g_br-light {border-right: 1px solid $g_lightborder;}
.g_bl-light {border-bottom: 1px solid $g_lightborder;}

/* cursor */
.g_cp {cursor: pointer;}
.g_cd {cursor: default;}

/* margin */
.g_m-auto{margin: auto;}
.g_ml-auto{ margin-left: auto;}
.g_mr-auto{ margin-right: auto;}
.g_mx-auto{ margin-left: auto; margin-right: auto; }

/* user select */
.g_sn{ -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

/* pointer-events */
.g_event-none {pointer-events: none;}
.g_event-unset {pointer-events: unset;}

/* font style */
.g_fs-normal {font-style: normal;}
.g_fs-italic {font-style: italic;}

/* resize */
.g_resize-none{ resize: none !important;}
