article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body, ol, ul, li, div, p, span, form, h1, h2, h3, h4, h5, h6, table, thead, th, tbody, tr, td, img, input, textarea, dd, dt, dl { word-wrap: break-word; outline: none; padding: 0; margin: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
textarea { overflow: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
h1, h2, h3, h4, h5, h6, p, ul, ol, dd, dt, dl { -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-margin-start: 0; -webkit-margin-end: 0; }
a img, img { border: none; outline: none; display: block; width: auto; max-width: 100%; user-select: none }
a { cursor: pointer; text-decoration: none; outline: 0; }
input { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
html { font-size: 62.5%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-font-smoothing: antialiased; background-color: $g_bg; font-family: 'Circular Std'; font-size: 62.5%; }
::-moz-selection { text-shadow: none; background: $g_title; color: $g_white; }
::selection { text-shadow: none; background: $g_title; color: $g_white; }
.clear { clear: both; height: 0; overflow: hidden; width: auto; display: block; float: none !important; }
ul, menu, dir { margin: 0; padding: 0; display: block; list-style-type: none; -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-margin-start: 0; -webkit-margin-end: 0; -webkit-padding-start: 0; }
* { box-sizing: border-box; &:after, &:before { box-sizing: border-box; } }
li:last-child, p:last-child { margin-bottom: 0 !important; }
/* input elements */
::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder { font-family: 'Circular Std'; color: $g_title; }
html, body, #root, .App, .g_layout {height: 100%;overflow: auto;overflow-y: hidden;}
